.btn {
  width: 320px;
  height: 45px;
  padding-block: 0.875rem;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.25s ease-in-out;

  &--filled {
    background: #329c89;
    border-radius: 8px;
  }

  &--text {
    color: #329c89;
    font-size: 1.5rem;
  }

  &--fullwidth {
    width: 100%;
  }

  &:disabled {
    opacity: 0.65;
    cursor: initial;
  }
}
