@use "../abstract//variables" as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__search {
    display: flex;
    align-items: center;
    color: $color-secondary;
    gap: 0.75rem;
  }

  &__avatars {
    display: flex;
    align-items: center;
    & img {
      margin-left: -0.7rem;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    color: #3a3a3a;

    &-img {
      width: 2.5125rem;
      height: 2.5125rem;
    }
  }
}
